body {
  background-image: 	linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  color: white;
  font-size: 1rem;
}

#title {
  font-size: 2rem;
}
#description{
  font-style: italic;
}
h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
  background-color: #1b1b32DD;
	color: #f5f6f7;
  font-family: Tahoma;
  padding: 2em;

}
label {
  display: block;
}
fieldset {
  border: none;
	padding: 0.5rem 0;
  margin: 2rem 0;
}

label {
  display: block;
	margin: 0.5rem 0;
}

input[type="text"], 
input[type="email"],
input[type="number"],
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

input,
textarea, select {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 2em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: green;
  border-color: white;
  min-width: 300px;
}

** end of undefined **

